*{
    font-family: verdana, arial, helvetica, sans-serif;
}
.success {
    border: 1px solid green;
    padding: 1rem;
    color: green;
    background: rgba(0, 255, 0, 0.1);
    margin: 100px;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}