*{
  font-family: 'verdana', arial, helvetica
}

.error__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.error__container svg,
.error__container p {
  font-size: 14px;
  color: red;
}

.error__container svg {
  display: none; 
  margin-right: 10px;
}
